body {
    background-color: #F5F5F5;
    color: #333;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 1rem 5rem;
}

h1 {
    margin: 0 0 2rem 0;
    padding: 0;
}

h3 {
    margin: 1rem 0;
    padding: 0;
}

ul {
    padding-bottom: 2rem;
}

li {
    margin: 0.5rem 0;
    padding: 0;
}

.redirect {
    background-color: #0D6EFD;
    color: #FFF;
    text-decoration: none;
    padding: 0.5rem;
    border: 1px solid #0D6EFD;
    border-radius: 5px;
    transition: all ease 0.25s;
}

.redirect:hover {
    background-color: #FFF;
    color: #0D6EFD;
}